@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.intro_font {
  font-family: "Pacifico", cursive;
}

.scroll_font {
  font-family: "Nanum Pen Script", cursive;
}

.intro_more_font {
  /* font-family: "Noto Serif KR", serif; */
  font-family: "Playfair", serif;
}

.project_font {
  font-family: "Nanum Gothic", sans-serif;
}

.flexRowCenter {
  @apply flex flex-row justify-center items-center;
}
.flexColCenter {
  @apply flex flex-col justify-center items-center;
}

.fade-in {
  /* opacity: 1; */
  animation-duration: 2s;
  animation-duration: leaner;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation: fadeIn ease-in-out 1s;
}

@keyframes fadeIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
  }
}

.smileImg {
  background: url("/public/assets/smile.jpeg") no-repeat center;
  background-size: cover;
  opacity: 0.9;
}

.myImg {
  background: url("/public/assets/나.jpeg") no-repeat center;
  background-size: cover;
  opacity: 0.6;
}
